version: "3.8"
services:
  front:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3333:3000"
    volumes:
      - .:/app
      - /app/node_modules
    stdin_open: true
    tty: true



# docker compose -f docker-compose.dev.yml up --build -d
# команда щоб збілдити докер контейнер 
# сам сайт буде доступним за хостом -  http://localhost:3333